html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#formBtn{
  width: 100%;
}

#formHeader{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

 .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

 .trigger1:hover {
  color: #1890ff;
}

.trigger1 {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  float:right;
}

 .trigger:hover {
  color: #1890ff;
}

 .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

#studentSearch{
  float: right;
  width: 30%;
}

